# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

01Vitereact/package.json
01Vitereact/package-lock.json

02counter/package.json
02counter/package-lock.json

03tailWindProps/package.json
03tailWindProps/package-lock.json

04bgChanger/package.json
04bgChanger/package-lock.json

05passwordGenerator/package.json
05passwordGenerator/package-lock.json

07reactRouter/package.json
07reactRouter/package-lock.json

08miniContext/package.json
08miniContext/package-lock.json

09minicontext/package.json
09minicontext/package-lock.json

10TodoContextLocal/package.json
10TodoContextLocal/package-lock.json

currencyConvertor/package.json
currencyConvertor/package-lock.json

reduxToolKitTodo/package.json
reduxToolKitTodo/package-lock.json

themeChanger/package.json
themeChanger/package-lock.json